* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}


/* timer */

.timer-task {
  margin-top: 100px;
  text-align: center;  
}

.timer-task input { border-radius: 8px; }

.timer-task button {
  border-radius: 8px;    
  background-color: rgba(7, 244, 43, 0.361);
}

.timer-task button:disabled {
  background-color: rgba(244, 58, 7, 0.459);
}

.timer {
  display: flex;
  justify-content: center;
  color: rgb(10, 109, 127);
}

.timer .value { font-size: 3rem; }

.timer .label { text-transform: uppercase; }

.field {
  margin: 20px;
  text-align: center;
}

.field span { display: block; }
